{% extends 'base.html' %}
<title>Список сообщений</title>
{% block content %}
<div class="container-fluid">
<main>
      <section class="text-center container">
        <div class="row py-lg-0">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Список сообщений</h1>

          </div>
        </div>
  </section>
</main>
</div>
 <section class="py-2 text-center container">
    <div class="row py-lg-0">
        <p>Всего сообщений:{{ total_мessages }}</p>

    </div>
 </section>
<p></p>

<div style="text-align: center; margin-top: 0px; margin-bottom: 30px;">
  <a class="btn" button style="width: 540px; background-color: #4CAF50; color: white; padding: 10px 10px; border: none; border-radius: 4px; cursor: pointer" href="{% url 'mailing:message_create' %}">Добавить сообщение</a>

</div>

          <table>
            <thead>
              <tr>
                <th style="width: 200px"></th>
                <th style="width: 70px;background-color: #f2f2f2;">id</th>
                <th style="width: 300px; padding-left: 10px; background-color: #f2f2f2;">Тема сообщения</th>
                <th style="width: 400px; padding-left: 10px; background-color: #f2f2f2;">Текст сообщения</th>
                <th style="background-color: #f2f2f2;">Детали</th>
              </tr>
            </thead>
            <tbody>
              {% for message in messages %}
              <tr>
                <td style="width: 200px;"></td>
                <td style="width: 70px;">{{ message.id }}</td>
                <td style="width: 300px; padding-left: 10px; ">{{ message.subject }}</td>
                <td style="width: 400px;padding-left: 10px;">{{ message.message_body }}</td>
                <td><a class="btn btn-primary " button style="width: 150px;" role="button" href="{% url 'mailing:message_detail' message.id %}">Посмотреть</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>



      </div>
    </div>
  </div>
<p></p>
<div style="text-align: center; margin-top: 0px; margin-bottom: 30px;">
<a class="btn btn-primary " button style="width: 540px; ; color: white; padding: 10px 10px; border: none; border-radius: 4px; cursor: pointer" href="{% url 'mailing:home' %}">На главную</a>

</div>

{% endblock %}l>
