{% extends 'base.html' %}
{% block content %}
{% block title %} Сообщение {% endblock %}

<div class="album py-5 bg-body-tertiary">

    <div class="container">
      <div class="col-12 ">

        <div class="col">
          <div class="card shadow-sm">
              <div class="card-body">
                <p class="card-text">Тема сообщения: {{ object.subject }}</p>
                <p class="card-text">Текст сообщения: {{ object.body }}</p>
                <p class="card-text">Отправитель: {{ object.owner }} </p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{% url 'mailing:message_edit' message.pk %}" class="btn btn-secondary">Редактировать</a>
                    <a href="{% url 'mailing:message_delete' message.pk %}" class="btn btn-danger">Удалить</a>
                    <a class="btn btn-primary" role="button" href="{% url 'mailing:message_list' %}">Вернуться к списку сообщений</a>
                  </div>

                </div>
              </div>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}l>