{% extends 'base.html' %}
{% block content %}
<p></p>
<h3 style="margin-left: 500px;">Рассылка {{sending.id}}</h3>

<div class="album py-5 bg-body-tertiary">

    <div class="container">
      <div class="col-12 ">

        <div class="col">
          <div class="card shadow-sm">
              <div class="card-body">
                <p class="card-text">{{ object.name }}</p>
                <p class="card-text">Начало рассылки: {{ object.start_sending }}</p>
                <p class="card-text">Окончание рассылки: {{ object.end_sending }}</p>
                <p class="card-text">Статус: {{ object.status }} </p>
                <p class="card-text">Тема сообщения: {{ object.message }} </p>
                <p class="card-text">Отправитель: {{ object.owner }} </p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="btn btn-primary " button style="width: 200px; background-color: #4CAF50; color: white; border: none; border-radius: 4px; {% url 'mailing:sending_edit' sending.pk %}" class="btn btn-secondary">Запустить рассылку</a>
                    <a href="{% url 'mailing:sending_edit' sending.pk %}" class="btn btn-secondary">Редактировать</a>
                    <a href="{% url 'mailing:sending_delete' sending.pk %}" class="btn btn-danger">Удалить</a>
                    <a class="btn btn-primary" role="button" href="{% url 'mailing:sending_list' %}">Вернуться к списку рассылок</a>
                  </div>

                </div>
              </div>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}


