{% extends 'base.html' %}
{% block title %} Список рассылок {% endblock %}
{% block content %}

<div style="text-align: center; margin-top: 0px; margin-bottom: 30px;">
  <button style="width: 540px; background-color: #4CAF50; color: white; padding: 10px 10px; border: none; border-radius: 4px; cursor: pointer;">Добавить рассылку</button>
</div>

          <table>
            <thead>
              <tr>
                <th style="width: 20px"></th>
                <th style="width: 70px;background-color: #f2f2f2;">id</th>
                <th style="width: 200px; padding-left: 10px; background-color: #f2f2f2;">Название рассылки</th>
                <th style="background-color: #f2f2f2;">Начало</th>
                <th style="background-color: #f2f2f2;">Окончание</th>
                <th style="background-color: #f2f2f2;">Статус</th>
                <th style="background-color: #f2f2f2;">Тема сообщения</th>
                <th style="background-color: #f2f2f2;"></th>
              </tr>
            </thead>
            <tbody>
              {% for sending in object_list %}
              <tr>
                <td style="width: 20px;"></td>
                <td style="width: 70px;">{{ sending.id }}</td>
                <td style="width: 200px; padding-left: 10px; background-color: #f2f2f2;">{{ sending.name }}</td>
                <td style="width: 200px;padding-left: 10px;">{{ sending.start_sending }}</td>
                <td style="width: 200px;padding-left: 10px;">{{ sending.end_sending }}</td>
                <td style="width: 100px; background-color: #f2f2f2;padding-left: 10px;">{{ sending.status }}</td>
                <td style="width: 250px;padding-left: 10px;">{{ sending.message }}</td>
                <td><a class="btn btn-primary " button style="width: 150px;" role="button" href="{% url 'mailing:sending_detail' sending.pk %}">Посмотреть</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>



      </div>
    </div>
  </div>



{% endblock %}l>



<!--<div class="container marketing mt-5">-->
<!--    <div class="container text-center mt-3">-->
<!--        <div class="row justify-content-center">-->
<!--            <div class="col-4">-->

<!--            </div>-->
<!--            <div class="col-4">-->
<!--                <h2>Сообщения</h2>-->
<!--                <a class="btn btn-success mt-3" href="{% url 'mailing:message_create' %}">Добавить сообщение-->
<!--                    &raquo;</a></p>-->
<!--            </div>-->
<!--            <div class="col-4">-->

<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="table-responsive small">-->
<!--            <table class="table table-success table-striped">-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th>Тема</th>-->
<!--                    <th>Сообщение</th>-->
<!--                    {% if request.user.is_superuser %}-->
<!--                    <th>Создал</th>-->
<!--                    {% endif %}-->
<!--                    <th>Действия</th>-->
<!--                </tr>-->
<!--                </thead>-->

<!--                {% for object in object_list %}-->
<!--                <tr>-->
<!--                    <td>{{ object.subject }}</td>-->
<!--                    <td>{{ object.content|truncatechars:30 }}</td>-->
<!--                    {% if request.user.is_superuser %}-->
<!--                    <td>{{ object.owner }}</td>-->
<!--                    {% endif %}-->
<!--                    <td>-->
<!--                        <a class="btn btn-primary btn-sm" href="{% url 'mailing:message_detail' object.pk%}">Посмотреть-->
<!--                            &raquo;</a>-->
<!--                        <a class="btn btn-primary btn-sm" href="{% url 'mailing:message_update' object.pk%}">Редактировать-->
<!--                            &raquo;</a>-->
<!--                        <a class="btn btn-danger btn-sm" href="{% url 'mailing:message_delete' object.pk%}">Удалить</a>-->
<!--                    </td>-->

<!--                </tr>-->
<!--                {% endfor%}-->
<!--            </table>-->

<!--        </div>&lt;!&ndash; /.row &ndash;&gt;-->


<!--    </div>&lt;!&ndash; /.row &ndash;&gt;-->
<!--</div>&lt;!&ndash; /.container &ndash;&gt;-->
